* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-out;
}

:root {
  --gray-100: #fff;
  --gray-200: #d9d9d9;
  --gray-200: #808080;
  --gray-300: #707070;
  --gray-350: #303030;
  --gray-400: #363636;
  --gray-500: #222222;
  --gray-700: #1a1a1a;

  --blue-500: #4e6ede;
  --blue-600: #3352c2;
  --green-500: #26c277;
  --green-550: #23a868;
  --green-600: #093d24;
  --yellow-500: #ffd231;
  --yellow-600: #644f04;
  --red--500: #de4e4e;
  --red--550: #b33838;
  --red--700: #550f0f;
}

#background_update_task_modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  background-color: var(--gray-500);
  color: var(--gray-100);
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

input,
button {
  border-radius: 8px;
  padding: 1rem;
}

input:hover,
button:hover,
i:hover {
  cursor: pointer;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

/* ------------------------------ WRAPPER ------------------------------ */

.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

/* ------------------------------ HEADER BELOW ------------------------------ */

header {
  display: flex;
  justify-content: center;

  padding: calc(6.75rem - 2rem) 0;
}

/* ------------------------------ MODAL INPUT BELOW ------------------------------ */

.update_task_modal {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 420px;
  width: 95%;
  height: 200px;

  padding: 32px;
  border-radius: 8px;
  background-color: var(--gray-500);
}

.update_task_modal input {
  width: 95%;
  margin-bottom: 12px;

  background-color: var(--gray-400);
  color: var(--gray-200);
  border: 1px solid transparent;
}

.update_task_modal input:hover {
  border: 1px solid var(--blue-500);
}

.update_task_modal div {
  text-align: center;
}

/* ------------------------------ MODAL BUTTONS BELOW ------------------------------ */

.update_task_modal_okBtn,
.update_task_modal_cancelBtn {
  color: var(--gray-100);
  border: 1px solid transparent;
}

.update_task_modal_okBtn {
  background-color: var(--green-500);
}

.update_task_modal_okBtn:hover {
  background-color: var(--green-550);
}

.update_task_modal_cancelBtn {
  background-color: var(--red--500);
}

.update_task_modal_cancelBtn:hover {
  background-color: var(--red--550);
}

/* ------------------------------ MODAL ERROR MSG BELOW ------------------------------ */

.modal_error_msg {
  padding: 4px;
}

.modal_error_msg p {
  text-align: start;
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--red--500);
}

.error input {
  border: 1px solid var(--red--500);
}

/* ------------------------------ FORM BELOW ------------------------------ */

.new_task_form {
  display: flex;
  gap: 16px;
}

.new_task_form input {
  width: 100%;
  height: 3.375rem;

  background-color: var(--gray-400);
  color: var(--gray-200);
  border: 1px solid transparent;
}

.new_task_form input:hover {
  border: 1px solid var(--blue-500);
}

.new_task_form button {
  width: 6.625rem;
  height: 3.25rem;

  background-color: var(--blue-500);
  color: var(--gray-100);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
}

.new_task_form button:hover {
  background-color: var(--blue-600);
}

.new_task_form button i {
  font-size: 22px;
  margin-left: 8px;
}

/* ------------------------------ ERROR MSG BELOW ------------------------------ */

.error_msg {
  padding: 0.5rem;
}

.error_msg p {
  color: var(--red--500);
  font-size: 12px;
}

.error input {
  border: 1px solid var(--red--500);
}

/* ------------------------------ TASKS COUNTER BELOW ------------------------------ */

.tasks_counter {
  max-width: 46rem;
  padding: 1.25rem;
  margin: 48px auto;

  border-top: 3px solid var(--gray-400);
  border-bottom: 3px solid var(--gray-400);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks_counter strong {
  font-size: 0.875rem;
}

.tasks_counter span {
  padding: 4px 12px;
  border-radius: 999px;
}

.count {
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: 8px;
}

/* ------------------------------ TASKS COUNTER COLORS BELOW ------------------------------ */

.all_tasks {
  color: var(--yellow-500);
}

.all_tasks span {
  background: var(--yellow-500);
  color: var(--yellow-600);
}

.done_tasks {
  color: var(--green-500);
}

.done_tasks span {
  background: var(--green-500);
  color: var(--green-600);
}

/* ------------------------------ EMPTY TASKS BELOW ------------------------------ */

.empty_tasks {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  color: var(--gray-300);
}

.empty_tasks img {
  margin-right: 32px;
}

.empty_tasks div p:first-child {
  font-weight: bold;
}

/* ------------------------------ TASKS LIST BELOW ------------------------------ */

.tasks_list {
  display: flex;
  flex-direction: column;

  max-width: 46rem;
}

/* ------------------------------ TASKS BELOW ------------------------------ */

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--gray-350);
  padding: 24px;
  border-radius: 8px;
}

.task + .task {
  margin-top: 1rem;
}

.task div {
  display: flex;
  align-items: center;
}

.task div p {
  margin: 0 16px;
  color: var(--gray-100);
}

.delete_btn,
.update_btn {
  font-size: 20px;
  color: var(--gray-200);
}

.delete_btn {
  margin-right: 0.75rem;
}

.delete_btn:hover {
  color: var(--red--500);
}

.update_btn:hover {
  color: var(--blue-500);
}

/* ------------------------------ TODO TASK BELOW ------------------------------ */

.todo .check_btn {
  font-size: 20px;
  color: var(--gray-200);
}

.todo .check_btn:hover {
  color: var(--green-500);
}

/* ------------------------------ DONE TASK BELOW ------------------------------ */

.done .check_btn {
  font-size: 20px;
  color: var(--green-500);
}

.done div .risked {
  text-decoration: line-through;
  color: var(--gray-200);
}

.done .check_btn:hover {
  color: var(--yellow-500);
}

/* ------------------------------ DELETE TASK CONFIRMATION/CANCEL BTNS BELOW ------------------------------ */

.deleteConfirmation_btn,
.deleteCancel_btn {
  font-size: 16px;
  color: var(--gray-200);
}

.deleteConfirmation_btn {
  margin-right: 0.75rem;
}

.deleteConfirmation_btn {
  color: var(--green-500);
}

.deleteConfirmation_btn:hover {
  color: var(--green-550);
}

.deleteCancel_btn {
  color: var(--red--500);
}

.deleteCancel_btn:hover {
  color: var(--red--550);
}

/* ------------------------------ HIDDEN BELOW ------------------------------ */

.hidden {
  display: none;
}